### Fetch Dataset from Kaggle
- Import data from Kaggle
- Use <a href="https://www.kaggle.com/ruchi798/housing_dataset-prices-in-metropolitan-areas-of-india" target="_blank"> this Link </a>

In [ ]:
import pandas as pd

In [ ]:
pd.set_option('display.max_columns',15)

In [ ]:
raw_df = pd.read_csv('datasets/housingPricesIndia/Delhi.csv')
raw_df

In [ ]:
raw_df.shape

In [ ]:
type(raw_df)

In [ ]:
raw_df.head()

### Fetch ith row
`df.loc[i]`

In [ ]:
raw_df.loc[0]

In [ ]:
raw_df[raw_df['No. of Bedrooms']>6]

In [ ]:
raw_df.info()

In [ ]:
raw_df.columns

In [ ]:
features=['Area', 'Location', 'No. of Bedrooms', 'Resale', 'Price']
housing_dataset=raw_df[features]
housing_dataset

In [ ]:
type(housing_dataset)

In [ ]:
type(housing_dataset.Area)

In [ ]:
housing_dataset.Area>100

In [37]:
housing_dataset[housing_dataset.Area>10000]

       Area         Location  No. of Bedrooms  Resale      Price
2756  16000     Sainik Farms                1       0   11200000
3104  12552  Prithviraj Road                8       0  285400000

`housing_dataset['Area']` returns Series Object.   

`housing_dataset[['Area', 'Location']]` returns DataFrame Object

**Check for NULL Values**

In [ ]:
housing_dataset.isna().sum()

In [38]:
housing_dataset.dropna()

      Area          Location  No. of Bedrooms  Resale     Price
0     1200  Sector 10 Dwarka                2       1  10500000
1     1000       Uttam Nagar                3       0   6000000
2     1350      Sarita Vihar                2       1  15000000
3      435       Uttam Nagar                2       0   2500000
4      900        Dwarka Mor                3       0   5800000
...    ...               ...              ...     ...       ...
4993   540       Madhu Vihar                2       1   2500000
4994   540       Madhu Vihar                2       1   3000000
4995   415  Sector 26 Dwarka                1       1   2600000
4996   415  Sector 26 Dwarka                1       1   5500000
4997   900       Uttam Nagar                3       1   4200000

[4998 rows x 5 columns]

In [ ]:
housing_dataset.dtypes

### df.describe()

- Generate descriptive statistics such as the central tendency, dispersion and shape of a datasetâ€™s distribution, excluding NaN values.  
- Analyzes both numeric and object series, as well as DataFrame column sets of mixed data types.  
- The output will vary depending on what is provided. Refer to the notes below for more detail.  
 
`DataFrame.describe(percentiles=None, include=None, exclude=None, datetime_is_numeric=False)`   

For more details <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html" target="_blank">Click here..</a>

In [ ]:
housing_dataset.describe()

In [ ]:
housing_dataset.describe(include='all')

In [ ]:
housing_dataset.describe(include=[object])

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
housing_dataset.hist(figsize=(20,10))

In [ ]:
housing_dataset[housing_dataset['Price']>100000000].reset_index(drop=True)

In [ ]:
housing_dataset[(housing_dataset['Price']>100000000) & (housing_dataset['No. of Bedrooms']>5)]

In [ ]:
housing_dataset.Location.value_counts()

In [ ]:
housing_dataset['Location'].value_counts().plot(kind='bar', figsize=(20,10))