### Fetch Dataset from Kaggle
- Import data from Kaggle
- Use <a href="https://www.kaggle.com/ruchi798/housing-prices-in-metropolitan-areas-of-india" target="_blank"> this Link </a>

In [1]:
!mkdir ~/.kaggle

In [3]:
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!kaggle datasets download -d ruchi798/housing-prices-in-metropolitan-areas-of-india

Downloading housing-prices-in-metropolitan-areas-of-india.zip to /content
  0% 0.00/269k [00:00<?, ?B/s]
100% 269k/269k [00:00<00:00, 40.9MB/s]

In [ ]:
!unzip housing-prices-in-metropolitan-areas-of-india.zip

In [5]:
import pandas as pd
pd.set_option('display.max_columns',None)

In [8]:
#Uncomment the line below if you are working in Binder
#raw_df = pd.read_csv('datasets/housingPricesIndia/Delhi.csv')

#Uncomment the line below if you are working in Google Colab
raw_df = pd.read_csv('hpIndia/Delhi.csv')
raw_df

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,IndoorGames,ShoppingMall,Intercom,SportsFacility,ATM,ClubHouse,School,24X7Security,PowerBackup,CarParking,StaffQuarter,Cafeteria,MultipurposeRoom,Hospital,WashingMachine,Gasconnection,AC,Wifi,Children'splayarea,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,10500000,1200,Sector 10 Dwarka,2,1,0,1,0,0,1,0,0,0,1,1,0,0,0,1,1,1,0,0,0,0,0,1,0,0,1,1,0,1,0,0,0,0,0,0,0
1,6000000,1000,Uttam Nagar,3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,15000000,1350,Sarita Vihar,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2500000,435,Uttam Nagar,2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,5800000,900,Dwarka Mor,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,2500000,540,Madhu Vihar,2,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
4994,3000000,540,Madhu Vihar,2,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
4995,2600000,415,Sector 26 Dwarka,1,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
4996,5500000,415,Sector 26 Dwarka,1,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
4997,4200000,900,Uttam Nagar,3,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9

In [ ]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4998 entries, 0 to 4997
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                4998 non-null   int64
 1   Area                 4998 non-null   int64
 2   Location             4998 non-null   object
 3   No. of Bedrooms      4998 non-null   int64
 4   Resale               4998 non-null   int64
 5   MaintenanceStaff     4998 non-null   int64
 6   Gymnasium            4998 non-null   int64
 7   SwimmingPool         4998 non-null   int64
 8   LandscapedGardens    4998 non-null   int64
 9   JoggingTrack         4998 non-null   int64
 10  RainWaterHarvesting  4998 non-null   int64
 11  IndoorGames          4998 non-null   int64
 12  ShoppingMall         4998 non-null   int64
 13  Intercom             4998 non-null   int64
 14  SportsFacility       4998 non-null   int64
 15  ATM                  4998 non-null   int64
 16  ClubHouse            4998 non-null   int64
 17  School               4998 non-null   int64
 18  24X7Security         4998 non-null   int64
 19  PowerBackup          4998 non-null   int64
 20  CarParking           4998 non-null   int64
 21  StaffQuarter         4998 non-null   int64
 22  Cafeteria            4998 non-null   int64
 23  MultipurposeRoom     4998 non-null   int64
 24  Hospital             4998 non-null   int64
 25  WashingMachine       4998 non-null   int64
 26  Gasconnection        4998 non-null   int64
 27  AC                   4998 non-null   int64
 28  Wifi                 4998 non-null   int64
 29  Children'splayarea   4998 non-null   int64
 30  LiftAvailable        4998 non-null   int64
 31  BED                  4998 non-null   int64
 32  VaastuCompliant      4998 non-null   int64
 33  Microwave            4998 non-null   int64
 34  GolfCourse           4998 non-null   int64
 35  TV                   4998 non-null   int64
 36  DiningTable          4998 non-null   int64
 37  Sofa                 4998 non-null   int64
 38  Wardrobe             4998 non-null   int64
 39  Refrigerator         4998 non-null   int64
dtypes: int64(39), object(1)
memory usage: 1.5+ MB

In [ ]:
raw_df.shape

In [ ]:
type(raw_df)

In [ ]:
# Show First Five rows
raw_df.head()

### Fetch ith row
`df.loc[i]`

In [ ]:
raw_df.loc[0]

In [ ]:
raw_df[raw_df['No. of Bedrooms']>6]

In [ ]:
raw_df.info()

In [ ]:
raw_df.columns

In [ ]:
features=['Area', 'Location', 'No. of Bedrooms', 'Resale', 'Price']
raw_df=raw_df[features]
raw_df

In [ ]:
type(raw_df)

In [ ]:
type(raw_df.Area)

In [ ]:
raw_df.Area>100

In [ ]:
raw_df[raw_df.Area>10000]

`raw_df['Area']` returns Series Object.   

`raw_df[['Area', 'Location']]` returns DataFrame Object

**Check for NULL Values**

In [ ]:
raw_df.isna().sum()

In [ ]:
raw_df.dropna()

In [ ]:
raw_df.dtypes

### df.describe()

- Generate descriptive statistics such as the central tendency, dispersion and shape of a dataset’s distribution, excluding NaN values.  
- Analyzes both numeric and object series, as well as DataFrame column sets of mixed data types.  
- The output will vary depending on what is provided. Refer to the notes below for more detail.  
 
`DataFrame.describe(percentiles=None, include=None, exclude=None, datetime_is_numeric=False)`   

For more details <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html" target="_blank">Click here..</a>

In [ ]:
raw_df.describe()

,Price,Area,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,IndoorGames,ShoppingMall,Intercom,SportsFacility,ATM,ClubHouse,School,24X7Security,PowerBackup,CarParking,StaffQuarter,Cafeteria,MultipurposeRoom,Hospital,WashingMachine,Gasconnection,AC,Wifi,Children'splayarea,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
count,4.998000e+03,4998.000000,4998.000000,4998.00000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.00000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.00000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000
mean,1.588638e+07,1277.343737,2.657863,0.80012,5.423770,5.472589,5.415966,5.435574,5.412765,5.437975,5.398359,5.398960,5.570228,5.487795,5.39916,5.460184,5.399560,5.423770,5.530812,5.490996,5.407163,5.399360,5.402961,5.39916,5.408363,5.562225,5.426971,5.394958,5.534014,5.655662,5.416367,5.456783,5.413165,5.394958,5.415566,5.408764,5.412965,5.394958,5.411565
std,4.612894e+07,915.217800,0.820605,0.39995,4.378355,4.322819,4.387116,4.365041,4.390702,4.362324,4.406770,4.406103,4.207849,4.305261,4.40588,4.337050,4.405435,4.378355,4.254905,4.301549,4.396963,4.405658,4.401649,4.40588,4.395623,4.217476,4.374752,4.410549,4.251116,4.102704,4.386668,4.340938,4.390254,4.410549,4.387565,4.395176,4.390478,4.410549,4.392045
min,2.000000e+06,200.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.900000e+06,800.000000,2.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.500000e+06,1000.000000,3.000000,1.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
75%,1.580000e+07,1650.000000,3.000000,1.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
max,8.546000e+08,16000.000000,8.000000,1.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [ ]:
raw_df[["Price", "Area"]].describe()

In [ ]:
raw_df.describe(include='all')

In [ ]:
raw_df.describe(include=[object])

In [ ]:
raw_df["Price"].mean()

In [ ]:
raw_df[["Price", "Area"]].median()

In [ ]:
raw_df[["Price", "Location"]].groupby("Location").mean()

In [ ]:
#pd.set_option('display.max_rows', None)
raw_df[["Price", "Location"]].groupby("Location").mean()

In [ ]:
raw_df.groupby("Location").mean()

In [ ]:
raw_df.groupby("Location")["Price", "Area", "JoggingTrack"].mean()

ipykernel_launcher:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                               Price         Area  JoggingTrack
Location
1 Lane Johri Farm       1.880000e+07   945.000000           9.0
10 Sector Dwarka        1.200000e+07  1800.000000           9.0
3 Dwarka Sector 9 Road  4.300000e+06   518.000000           9.0
47 Sector 22 Road       8.300000e+06  2840.000000           9.0
48 Sector 22 Road       6.500000e+06  2833.000000           9.0
...                              ...          ...           ...
joshi road              6.000000e+07  1200.000000           9.0
mayur vihar phase 1     1.022778e+07   867.777778           6.0
nawada                  4.171667e+06   744.500000           2.1
param puri              2.400000e+07  1238.500000           9.0
vikaspuri               1.537500e+07  1732.500000           9.0

[339 rows x 3 columns]

In [ ]:
raw_df[raw_df['Price']>100000000].reset_index(drop=True)

In [ ]:
raw_df[(raw_df['Price']>100000000) & (raw_df['No. of Bedrooms']>5)].reset_index(drop=True)

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,IndoorGames,ShoppingMall,Intercom,SportsFacility,ATM,ClubHouse,School,24X7Security,PowerBackup,CarParking,StaffQuarter,Cafeteria,MultipurposeRoom,Hospital,WashingMachine,Gasconnection,AC,Wifi,Children'splayarea,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,285400000,12552,Prithviraj Road,8,0,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
1,450000000,2520,Punjabi Bagh,6,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
2,235200000,6251,Sainik Farms,6,0,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9

In [ ]:
raw_df.Price.mean()

15886383.744497798

In [ ]:
[(raw_df['Price']>100000000) & (raw_df['No. of Bedrooms']>5)]

Location                SwimmingPool
1 Lane Johri Farm       9               1.880000e+07
10 Sector Dwarka        9               1.200000e+07
3 Dwarka Sector 9 Road  9               4.300000e+06
47 Sector 22 Road       9               8.300000e+06
48 Sector 22 Road       9               6.500000e+06
                                            ...
mayur vihar phase 1     9               7.041667e+06
nawada                  0               3.910913e+06
                        9               5.028429e+06
param puri              9               2.400000e+07
vikaspuri               9               1.537500e+07
Name: Price, Length: 427, dtype: float64