<a href="https://colab.research.google.com/github/vkjadon/AI-ipynb/blob/master/04kaggleDataExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Fetch Dataset from Kaggle
- Import data from Kaggle
- Use <a href="https://www.kaggle.com/ruchi798/housing-prices-in-metropolitan-areas-of-india" target="_blank"> this Link </a>

Create a directory kaggle in root

In [1]:
!mkdir ~/.kaggle

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Copy kaggle.json to the folder just created using the following copy command. kaggle.json is created from your personal kaggle account. It contains username and the key.

In [4]:
!cp kaggle.json ~/.kaggle/

In [5]:
!pwd

/content

To check the permission configuration of a file, use the command

In [6]:
!ls -l ~/.kaggle/kaggle.json

-rw-r--r-- 1 root root 71 Aug 17 07:59 /root/.kaggle/kaggle.json

After uploading (copying) the Kaggle.json key to cloud shell, change the mode of the kaggle.json to 600 using chmod command.

In [7]:
!chmod 600 ~/.kaggle/kaggle.json

In [8]:
!ls -l ~/.kaggle/kaggle.json

-rw------- 1 root root 71 Aug 17 07:59 /root/.kaggle/kaggle.json

In [9]:
%cd drive/MyDrive/Colab Notebooks/AI-ipynb/datasets

/content/drive/MyDrive/Colab Notebooks/AI-ipynb/datasets

In [10]:
!kaggle datasets download -d ruchi798/housing-prices-in-metropolitan-areas-of-india

housing-prices-in-metropolitan-areas-of-india.zip: Skipping, found more recently modified local copy (use --force to force download)

In [11]:
!unzip housing-prices-in-metropolitan-areas-of-india.zip

Archive:  housing-prices-in-metropolitan-areas-of-india.zip
replace Bangalore.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace Chennai.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace Delhi.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace Hyderabad.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace Kolkata.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace Mumbai.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [12]:
%cd ..

/content/drive/MyDrive/Colab Notebooks/AI-ipynb

In [13]:
import pandas as pd
pd.set_option('display.max_columns',None)

In [14]:
#Uncomment the line below if you are working in Binder
raw_df = pd.read_csv('datasets/Delhi.csv')
raw_df

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,IndoorGames,ShoppingMall,Intercom,SportsFacility,ATM,ClubHouse,School,24X7Security,PowerBackup,CarParking,StaffQuarter,Cafeteria,MultipurposeRoom,Hospital,WashingMachine,Gasconnection,AC,Wifi,Children'splayarea,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,10500000,1200,Sector 10 Dwarka,2,1,0,1,0,0,1,0,0,0,1,1,0,0,0,1,1,1,0,0,0,0,0,1,0,0,1,1,0,1,0,0,0,0,0,0,0
1,6000000,1000,Uttam Nagar,3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,15000000,1350,Sarita Vihar,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2500000,435,Uttam Nagar,2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,5800000,900,Dwarka Mor,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,2500000,540,Madhu Vihar,2,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
4994,3000000,540,Madhu Vihar,2,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
4995,2600000,415,Sector 26 Dwarka,1,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
4996,5500000,415,Sector 26 Dwarka,1,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
4997,4200000,900,Uttam Nagar,3,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9

In [16]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4998 entries, 0 to 4997
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                4998 non-null   int64
 1   Area                 4998 non-null   int64
 2   Location             4998 non-null   object
 3   No. of Bedrooms      4998 non-null   int64
 4   Resale               4998 non-null   int64
 5   MaintenanceStaff     4998 non-null   int64
 6   Gymnasium            4998 non-null   int64
 7   SwimmingPool         4998 non-null   int64
 8   LandscapedGardens    4998 non-null   int64
 9   JoggingTrack         4998 non-null   int64
 10  RainWaterHarvesting  4998 non-null   int64
 11  IndoorGames          4998 non-null   int64
 12  ShoppingMall         4998 non-null   int64
 13  Intercom             4998 non-null   int64
 14  SportsFacility       4998 non-null   int64
 15  ATM                  4998 non-null   int64
 16  ClubHouse            4998 non-null   int64
 17  School               4998 non-null   int64
 18  24X7Security         4998 non-null   int64
 19  PowerBackup          4998 non-null   int64
 20  CarParking           4998 non-null   int64
 21  StaffQuarter         4998 non-null   int64
 22  Cafeteria            4998 non-null   int64
 23  MultipurposeRoom     4998 non-null   int64
 24  Hospital             4998 non-null   int64
 25  WashingMachine       4998 non-null   int64
 26  Gasconnection        4998 non-null   int64
 27  AC                   4998 non-null   int64
 28  Wifi                 4998 non-null   int64
 29  Children'splayarea   4998 non-null   int64
 30  LiftAvailable        4998 non-null   int64
 31  BED                  4998 non-null   int64
 32  VaastuCompliant      4998 non-null   int64
 33  Microwave            4998 non-null   int64
 34  GolfCourse           4998 non-null   int64
 35  TV                   4998 non-null   int64
 36  DiningTable          4998 non-null   int64
 37  Sofa                 4998 non-null   int64
 38  Wardrobe             4998 non-null   int64
 39  Refrigerator         4998 non-null   int64
dtypes: int64(39), object(1)
memory usage: 1.5+ MB

In [15]:
raw_df.shape

(4998, 40)

In [17]:
type(raw_df)

pandas.core.frame.DataFrame

In [18]:
# Show First Five rows
raw_df.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,IndoorGames,ShoppingMall,Intercom,SportsFacility,ATM,ClubHouse,School,24X7Security,PowerBackup,CarParking,StaffQuarter,Cafeteria,MultipurposeRoom,Hospital,WashingMachine,Gasconnection,AC,Wifi,Children'splayarea,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,10500000,1200,Sector 10 Dwarka,2,1,0,1,0,0,1,0,0,0,1,1,0,0,0,1,1,1,0,0,0,0,0,1,0,0,1,1,0,1,0,0,0,0,0,0,0
1,6000000,1000,Uttam Nagar,3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,15000000,1350,Sarita Vihar,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2500000,435,Uttam Nagar,2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,5800000,900,Dwarka Mor,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

### Fetch ith row
`df.loc[i]`

In [20]:
raw_df.loc[10]

Price                          11000000
Area                               1000
Location               Sector 24 Rohini
No. of Bedrooms                       3
Resale                                0
MaintenanceStaff                      0
Gymnasium                             0
SwimmingPool                          0
LandscapedGardens                     0
JoggingTrack                          0
RainWaterHarvesting                   0
IndoorGames                           0
ShoppingMall                          0
Intercom                              0
SportsFacility                        0
ATM                                   0
ClubHouse                             0
School                                0
24X7Security                          0
PowerBackup                           0
CarParking                            1
StaffQuarter                          0
Cafeteria                             0
MultipurposeRoom                      0
Hospital                              0
WashingMachine                        0
Gasconnection                         0
AC                                    0
Wifi                                  0
Children'splayarea                    0
LiftAvailable                         1
BED                                   0
VaastuCompliant                       0
Microwave                             0
GolfCourse                            0
TV                                    0
DiningTable                           0
Sofa                                  0
Wardrobe                              0
Refrigerator                          0
Name: 10, dtype: object

In [21]:
raw_df[raw_df['No. of Bedrooms']>6]

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,IndoorGames,ShoppingMall,Intercom,SportsFacility,ATM,ClubHouse,School,24X7Security,PowerBackup,CarParking,StaffQuarter,Cafeteria,MultipurposeRoom,Hospital,WashingMachine,Gasconnection,AC,Wifi,Children'splayarea,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
2912,70000000,3015,Punjabi Bagh,8,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
3104,285400000,12552,Prithviraj Road,8,0,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
3339,18000000,4950,Punjabi Bagh,7,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
3424,22000000,2700,Vasant Kunj,7,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
3451,13500000,3200,Vasant Kunj,7,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
3459,13500000,3200,Vasant Kunj,7,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
3467,50000000,3500,Vasant Vihar,8,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
3468,50000000,4000,Vasant Kunj,7,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
3534,14500000,5000,Sector 18A Dwarka,8,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
3628,2000000,5500,Saket,8,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9

In [22]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4998 entries, 0 to 4997
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                4998 non-null   int64
 1   Area                 4998 non-null   int64
 2   Location             4998 non-null   object
 3   No. of Bedrooms      4998 non-null   int64
 4   Resale               4998 non-null   int64
 5   MaintenanceStaff     4998 non-null   int64
 6   Gymnasium            4998 non-null   int64
 7   SwimmingPool         4998 non-null   int64
 8   LandscapedGardens    4998 non-null   int64
 9   JoggingTrack         4998 non-null   int64
 10  RainWaterHarvesting  4998 non-null   int64
 11  IndoorGames          4998 non-null   int64
 12  ShoppingMall         4998 non-null   int64
 13  Intercom             4998 non-null   int64
 14  SportsFacility       4998 non-null   int64
 15  ATM                  4998 non-null   int64
 16  ClubHouse            4998 non-null   int64
 17  School               4998 non-null   int64
 18  24X7Security         4998 non-null   int64
 19  PowerBackup          4998 non-null   int64
 20  CarParking           4998 non-null   int64
 21  StaffQuarter         4998 non-null   int64
 22  Cafeteria            4998 non-null   int64
 23  MultipurposeRoom     4998 non-null   int64
 24  Hospital             4998 non-null   int64
 25  WashingMachine       4998 non-null   int64
 26  Gasconnection        4998 non-null   int64
 27  AC                   4998 non-null   int64
 28  Wifi                 4998 non-null   int64
 29  Children'splayarea   4998 non-null   int64
 30  LiftAvailable        4998 non-null   int64
 31  BED                  4998 non-null   int64
 32  VaastuCompliant      4998 non-null   int64
 33  Microwave            4998 non-null   int64
 34  GolfCourse           4998 non-null   int64
 35  TV                   4998 non-null   int64
 36  DiningTable          4998 non-null   int64
 37  Sofa                 4998 non-null   int64
 38  Wardrobe             4998 non-null   int64
 39  Refrigerator         4998 non-null   int64
dtypes: int64(39), object(1)
memory usage: 1.5+ MB

In [23]:
raw_df.columns

Index(['Price', 'Area', 'Location', 'No. of Bedrooms', 'Resale',
       'MaintenanceStaff', 'Gymnasium', 'SwimmingPool', 'LandscapedGardens',
       'JoggingTrack', 'RainWaterHarvesting', 'IndoorGames', 'ShoppingMall',
       'Intercom', 'SportsFacility', 'ATM', 'ClubHouse', 'School',
       '24X7Security', 'PowerBackup', 'CarParking', 'StaffQuarter',
       'Cafeteria', 'MultipurposeRoom', 'Hospital', 'WashingMachine',
       'Gasconnection', 'AC', 'Wifi', 'Children'splayarea', 'LiftAvailable',
       'BED', 'VaastuCompliant', 'Microwave', 'GolfCourse', 'TV',
       'DiningTable', 'Sofa', 'Wardrobe', 'Refrigerator'],
      dtype='object')

In [24]:
features=['Area', 'Location', 'No. of Bedrooms', 'Resale', 'Price']
raw_df=raw_df[features]
raw_df

      Area          Location  No. of Bedrooms  Resale     Price
0     1200  Sector 10 Dwarka                2       1  10500000
1     1000       Uttam Nagar                3       0   6000000
2     1350      Sarita Vihar                2       1  15000000
3      435       Uttam Nagar                2       0   2500000
4      900        Dwarka Mor                3       0   5800000
...    ...               ...              ...     ...       ...
4993   540       Madhu Vihar                2       1   2500000
4994   540       Madhu Vihar                2       1   3000000
4995   415  Sector 26 Dwarka                1       1   2600000
4996   415  Sector 26 Dwarka                1       1   5500000
4997   900       Uttam Nagar                3       1   4200000

[4998 rows x 5 columns]

In [ ]:
type(raw_df)

In [25]:
type(raw_df.Area)

pandas.core.series.Series

In [26]:
raw_df.Area>100

0       True
1       True
2       True
3       True
4       True
        ...
4993    True
4994    True
4995    True
4996    True
4997    True
Name: Area, Length: 4998, dtype: bool

In [29]:
raw_df[raw_df.Area>5000]

      Area         Location  No. of Bedrooms  Resale      Price
100   6400      DLF Phase 5                5       1  162500000
2119  5500       R.K. Puram                4       0    4100000
2147  5500       R.K. Puram                4       0    2655000
2322  7254  Greater Kailash                5       0    3300000
2354  6976  Greater Kailash                5       0  108600000
...    ...              ...              ...     ...        ...
4471  6541         Ghitorni                5       0  285400000
4472  6521       Chattarpur                5       0    2500000
4480  6544  Panchsheel Park                5       0   18000000
4707  6521      Vasant Kunj                4       0   13300000
4719  6251     Sainik Farms                6       0  235200000

[63 rows x 5 columns]

`raw_df['Area']` returns Series Object.   

`raw_df[['Area', 'Location']]` returns DataFrame Object

**Check for NULL Values**

In [34]:
raw_df.isna().sum()

Area               0
Location           0
No. of Bedrooms    0
Resale             0
Price              0
dtype: int64

In [35]:
raw_df.dropna()

      Area          Location  No. of Bedrooms  Resale     Price
0     1200  Sector 10 Dwarka                2       1  10500000
1     1000       Uttam Nagar                3       0   6000000
2     1350      Sarita Vihar                2       1  15000000
3      435       Uttam Nagar                2       0   2500000
4      900        Dwarka Mor                3       0   5800000
...    ...               ...              ...     ...       ...
4993   540       Madhu Vihar                2       1   2500000
4994   540       Madhu Vihar                2       1   3000000
4995   415  Sector 26 Dwarka                1       1   2600000
4996   415  Sector 26 Dwarka                1       1   5500000
4997   900       Uttam Nagar                3       1   4200000

[4998 rows x 5 columns]

In [32]:
raw_df.dtypes

Area                int64
Location           object
No. of Bedrooms     int64
Resale              int64
Price               int64
dtype: object

### df.describe()

- Generate descriptive statistics such as the central tendency, dispersion and shape of a datasetâ€™s distribution, excluding NaN values.  
- Analyzes both numeric and object series, as well as DataFrame column sets of mixed data types.  
- The output will vary depending on what is provided. Refer to the notes below for more detail.  
 
`DataFrame.describe(percentiles=None, include=None, exclude=None, datetime_is_numeric=False)`   

For more details <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html" target="_blank">Click here..</a>

In [38]:
raw_df.describe()

               Area  No. of Bedrooms      Resale         Price
count   4998.000000      4998.000000  4998.00000  4.998000e+03
mean    1277.343737         2.657863     0.80012  1.588638e+07
std      915.217800         0.820605     0.39995  4.612894e+07
min      200.000000         1.000000     0.00000  2.000000e+06
25%      800.000000         2.000000     1.00000  2.900000e+06
50%     1000.000000         3.000000     1.00000  5.500000e+06
75%     1650.000000         3.000000     1.00000  1.580000e+07
max    16000.000000         8.000000     1.00000  8.546000e+08

In [36]:
raw_df[["Price", "Area"]].describe()

              Price          Area
count  4.998000e+03   4998.000000
mean   1.588638e+07   1277.343737
std    4.612894e+07    915.217800
min    2.000000e+06    200.000000
25%    2.900000e+06    800.000000
50%    5.500000e+06   1000.000000
75%    1.580000e+07   1650.000000
max    8.546000e+08  16000.000000

In [37]:
raw_df.describe(include='all')

                Area Location  No. of Bedrooms      Resale         Price
count    4998.000000     4998      4998.000000  4998.00000  4.998000e+03
unique           NaN      339              NaN         NaN           NaN
top              NaN    Noida              NaN         NaN           NaN
freq             NaN      761              NaN         NaN           NaN
mean     1277.343737      NaN         2.657863     0.80012  1.588638e+07
std       915.217800      NaN         0.820605     0.39995  4.612894e+07
min       200.000000      NaN         1.000000     0.00000  2.000000e+06
25%       800.000000      NaN         2.000000     1.00000  2.900000e+06
50%      1000.000000      NaN         3.000000     1.00000  5.500000e+06
75%      1650.000000      NaN         3.000000     1.00000  1.580000e+07
max     16000.000000      NaN         8.000000     1.00000  8.546000e+08

In [39]:
raw_df.describe(include=[object])

       Location
count      4998
unique      339
top       Noida
freq        761

In [ ]:
raw_df["Price"].mean()

In [41]:
raw_df[["Price", "Area"]].median()

Price    5500000.0
Area        1000.0
dtype: float64

In [42]:
raw_df[["Price", "Location"]].groupby("Location").mean()

                               Price
Location
1 Lane Johri Farm       1.880000e+07
10 Sector Dwarka        1.200000e+07
3 Dwarka Sector 9 Road  4.300000e+06
47 Sector 22 Road       8.300000e+06
48 Sector 22 Road       6.500000e+06
...                              ...
joshi road              6.000000e+07
mayur vihar phase 1     1.022778e+07
nawada                  4.171667e+06
param puri              2.400000e+07
vikaspuri               1.537500e+07

[339 rows x 1 columns]

In [ ]:
#pd.set_option('display.max_rows', None)
raw_df[["Price", "Location"]].groupby("Location").mean()

In [43]:
raw_df.groupby("Location").mean()

                               Area  No. of Bedrooms  Resale         Price
Location
1 Lane Johri Farm        945.000000         3.000000     1.0  1.880000e+07
10 Sector Dwarka        1800.000000         3.000000     1.0  1.200000e+07
3 Dwarka Sector 9 Road   518.000000         2.000000     1.0  4.300000e+06
47 Sector 22 Road       2840.000000         3.500000     1.0  8.300000e+06
48 Sector 22 Road       2833.000000         3.000000     1.0  6.500000e+06
...                             ...              ...     ...           ...
joshi road              1200.000000         2.000000     0.0  6.000000e+07
mayur vihar phase 1      867.777778         2.555556     1.0  1.022778e+07
nawada                   744.500000         2.700000     0.9  4.171667e+06
param puri              1238.500000         2.000000     1.0  2.400000e+07
vikaspuri               1732.500000         3.750000     1.0  1.537500e+07

[339 rows x 4 columns]

In [ ]:
raw_df.groupby("Location")["Price", "Area", "JoggingTrack"].mean()

ipykernel_launcher:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                               Price         Area  JoggingTrack
Location
1 Lane Johri Farm       1.880000e+07   945.000000           9.0
10 Sector Dwarka        1.200000e+07  1800.000000           9.0
3 Dwarka Sector 9 Road  4.300000e+06   518.000000           9.0
47 Sector 22 Road       8.300000e+06  2840.000000           9.0
48 Sector 22 Road       6.500000e+06  2833.000000           9.0
...                              ...          ...           ...
joshi road              6.000000e+07  1200.000000           9.0
mayur vihar phase 1     1.022778e+07   867.777778           6.0
nawada                  4.171667e+06   744.500000           2.1
param puri              2.400000e+07  1238.500000           9.0
vikaspuri               1.537500e+07  1732.500000           9.0

[339 rows x 3 columns]

In [ ]:
raw_df[raw_df['Price']>100000000].reset_index(drop=True)

In [ ]:
raw_df[(raw_df['Price']>100000000) & (raw_df['No. of Bedrooms']>5)].reset_index(drop=True)

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,IndoorGames,ShoppingMall,Intercom,SportsFacility,ATM,ClubHouse,School,24X7Security,PowerBackup,CarParking,StaffQuarter,Cafeteria,MultipurposeRoom,Hospital,WashingMachine,Gasconnection,AC,Wifi,Children'splayarea,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,285400000,12552,Prithviraj Road,8,0,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
1,450000000,2520,Punjabi Bagh,6,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
2,235200000,6251,Sainik Farms,6,0,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9

In [ ]:
raw_df.Price.mean()

15886383.744497798

In [ ]:
[(raw_df['Price']>100000000) & (raw_df['No. of Bedrooms']>5)]

Location                SwimmingPool
1 Lane Johri Farm       9               1.880000e+07
10 Sector Dwarka        9               1.200000e+07
3 Dwarka Sector 9 Road  9               4.300000e+06
47 Sector 22 Road       9               8.300000e+06
48 Sector 22 Road       9               6.500000e+06
                                            ...
mayur vihar phase 1     9               7.041667e+06
nawada                  0               3.910913e+06
                        9               5.028429e+06
param puri              9               2.400000e+07
vikaspuri               9               1.537500e+07
Name: Price, Length: 427, dtype: float64