In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
print("Pandas  : ", pd.__version__)
print("NumPy : ", np.__version__)

Pandas  :  1.1.5
NumPy :  1.19.5

### Fetch Dataset from Kaggle
- Import data from Kaggle
- Use <a href="https://www.kaggle.com/c/titanic/data" target="_blank"> this Link </a>

In [5]:
# !mkdir ~/.kaggle
# !cp kaggle.json ~/.kaggle
# !pwd
# !ls
# !kaggle competitions download -c titanic

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [10]:
# Path of the file to read
filepath = "train.csv"

# Read the file into a variable fifa_data
train = pd.read_csv(filepath, parse_dates=True)

In [11]:
# Print the first 5 rows of the data
train.shape

(891, 12)

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [13]:
train.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [ ]:
train

In [ ]:
train.sort_values(by=['Age']).dropna(axis="index", subset=['Age', 'Fare']).reset_index()

In [ ]:
train.groupby(["Sex", "Pclass"])["Fare"].mean()

In [ ]:
train["Pclass"].value_counts()

In [ ]:
train[train["Pclass"].isin([2, 3])]

In [ ]:
train[(train["Pclass"] == 2) | (train["Pclass"] == 3)]

In [ ]:
train[train["Age"].notna()]

In [ ]:
train.loc[train["Age"] > 35, ["Name", "Age"]]

In [ ]:
train.iloc[9:25, 2:5]

In [ ]:
train.iloc[0:3, 3] = "anonymous"
train

In [ ]:
# plt.figure(figsize=[16, 6])
sns.set(rc = {'figure.figsize':(16,6)})
sns.heatmap(train.isnull(), yticklabels=False)

In [ ]:
sns.countplot(x='Survived', data=train)

In [ ]:
train.columns

In [ ]:
# sns.countplot(x="Survived", hue="Sex", data=train)
sns.countplot(x="Survived", hue="Pclass", data=train)

In [ ]:
sns.histplot(train['Age'], bins=20)

In [ ]:
sns.displot(train, x='Age', hue='Sex', multiple='stack', bins=10)

In [ ]:
sns.boxplot(x="Pclass", y="Age", data=train)

## Filling the NaN Values

In [ ]:
train['Age'].mean()

In [ ]:
train['Age'].isna().sum()

In [34]:
train['Age'].fillna(value=train['Age'].mean(), inplace=True)

In [35]:
train['Age'].isna().sum()

0

In [36]:
train[(train['Pclass'])==1]['Age'].mean()

37.04811819172115

In [ ]:
sns.boxplot(x="Pclass", y="Age", data=train)

In [ ]:
sns.heatmap(train.isnull(), yticklabels=False)

In [39]:
train.drop(['Cabin', 'Embarked'], axis=1, inplace=True)

In [ ]:
train

In [ ]:
sns.heatmap(train.isnull(), yticklabels=False)