In [87]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
print("Pandas  : ", pd.__version__)
print("NumPy : ", np.__version__)

### Fetch Dataset from Kaggle
- Import data from Kaggle
- Use <a href="https://www.kaggle.com/c/titanic/data" target="_blank"> this Link </a>

In [88]:
# Path of the file to read
filepath = "datasets/titanic_train.csv"

# Read the file into a variable fifa_data
train = pd.read_csv(filepath, parse_dates=True)

In [ ]:
# Print the first 5 rows of the data
train.shape

In [ ]:
train.info()

In [ ]:
train.describe()

In [89]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
train.sort_values(by=['Age']).dropna(axis="index", subset=['Age', 'Fare']).reset_index()

In [ ]:
train.groupby(["Sex", "Pclass"])["Fare"].mean()

In [ ]:
train["Pclass"].value_counts()

In [ ]:
train[train["Pclass"].isin([2, 3])]

In [ ]:
train[(train["Pclass"] == 2) | (train["Pclass"] == 3)]

In [ ]:
train[train["Age"].notna()]

In [ ]:
train.loc[train["Age"] > 35, ["Name", "Age"]]

In [ ]:
train.iloc[9:25, 2:5]

In [ ]:
train.iloc[0:3, 3] = "anonymous"
train

In [ ]:
# plt.figure(figsize=[16, 6])
sns.set(rc = {'figure.figsize':(16,6)})
sns.heatmap(train.isnull(), yticklabels=False)

In [ ]:
sns.countplot(x='Survived', data=train)

In [ ]:
train.columns

In [ ]:
# sns.countplot(x="Survived", hue="Sex", data=train)
sns.countplot(x="Survived", hue="Pclass", data=train)

In [ ]:
sns.histplot(train['Age'], bins=20)

In [ ]:
sns.displot(train, x='Age', hue='Sex', multiple='stack', bins=10)

In [ ]:
sns.boxplot(x="Pclass", y="Age", data=train)

## Filling the NaN Values

In [ ]:
train['Age'].mean()

In [ ]:
train['Age'].isna().sum()

In [ ]:
train['Age'].fillna(value=train['Age'].mean(), inplace=True)

In [ ]:
train['Age'].isna().sum()

In [ ]:
train[(train['Pclass'])==1]['Age'].mean()

In [ ]:
sns.boxplot(x="Pclass", y="Age", data=train)

In [ ]:
sns.heatmap(train.isnull(), yticklabels=False)

In [ ]:
train.drop(['Cabin', 'Embarked'], axis=1, inplace=True)

In [ ]:
train

In [ ]:
sns.heatmap(train.isnull(), yticklabels=False)